<h1>Joey Collier</h1>
<h2>Développeur d’applications Fullstack</h2>

<section>
  <h3>Expériences</h3>
  <% @experiences.each do |exp| %>
    <div>
      <h4><%= exp.title %> - <%= exp.company %></h4>
      <p><%= exp.description %></p>
      <p><em><%= exp.start_date %> - <%= exp.end_date || "Aujourd’hui" %></em></p>
    </div>
  <% end %>
</section>

<section>
  <h3>Mes projets</h3>
  <% @projects.each do |project| %>
    <div style="margin-bottom:20px;">
      <h4><%= project.title %></h4>
      <p><%= project.description %></p>
      <% if project.link.present? %>
        <p><a href="<%= project.link %>" target="_blank">Voir le projet</a></p>
      <% end %>
      <p><em><%= project.start_date %> - <%= project.end_date || "En cours" %></em></p>
    </div>
  <% end %>
</section>
