<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Joey Collier - CV Fullstack" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- CSS principal -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- JS principal -->
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render "shared/header" %>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
